.container-manager {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 100%;
  justify-content: center;
  align-items: center;
  margin-top: 5%;
  margin-left: 5%;
}
.input-manager-wrap {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 100%;
  margin-bottom: 20px;
}
.input-manager-last-photo-wrap {
  display: flex;
  flex-direction: row;
  width: 100%;
  margin-bottom: 20px;
}

.input-manager-btn-wrap {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 40%;
  max-width: 50%;
  margin-bottom: 20px;
}
.result-images-wrap {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 100%;
}
.result-images-row {
  display: flex;
  flex-direction: row;
  width: 100%;
}
.image-item-wrap  {
  display: flex;
  flex-wrap: wrap;
  max-width: 33%;
  margin-right: 20px;
}
.input-manager-last-photo-item-wrap {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin-bottom: 20px;
  margin-right: 10px;
}
.input-manager-last-photo-item-wrap img {
  max-width: 200px;
  max-height: 200px;
  min-height: 200px;
  min-width: 200px;

}
.other-photo-item {
  margin-right: 20px;
  margin-bottom: 20px;
}
.other-photo-item img {
  max-width: 200px;
  max-height: 200px;
  border: 1px solid;
}
.image-item-wrap img, .input-manager-last-photo-item-wrap img {
  max-width: 200px;
  max-height: 200px;
  border: 1px solid;
}
.other-photo-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;

}